<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <div class="profile">
                <img src="{{ url_for('static', filename='images/avatar.jpg') }}" alt="">
                <b>DNP34 ®️</b>
            </div>
            <nav>
                <a href="{{ url_for('home') }}">🏠 Главная</a>
                <a href="{{ url_for('search') }}">🔍 Поиск</a>
                <a href="{{ url_for('contacts') }}">☎️ Контакты</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="content">
            <div class="block">
                <div class="text">
                    <p>🌐 <b>HeadHunter</b> - это онлайн-платформа, которая предоставляет услуги поиска и подбора персонала для компаний и поиска работы для соискателей.</p>
                    <p>📊 <b>HeadHunter</b> предоставляет информацию о рынке труда и трендах в отраслях, помогает соискателям совершенствовать свои профессиональные навыки и подготавливаться к собеседованиям.</p>
                    <p>💻 <b>HeadHunter</b> использует современные технологии машинного обучения и анализа данных, что повышает точность поиска и рекомендаций.</p>
                    <p>♻️ <b>HeadHunter</b> становится не только платформой для поиска работы и персонала, но и центром обмена знаниями и опытом между работодателями и соискателями.</p>
                </div>
                <a href="{{ url_for('search') }}"><button>🔍 Искать</button></a>
            </div>
            <div class="image">
                test
            </div>
        </div>
    </main>
    <footer>
        ©️ Copyright (c) 2023
    </footer>
</body>
</html>