<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поиск вакансий</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <div class="profile">
                <img src="{{ url_for('static', filename='images/avatar.jpg') }}" alt="">
                <b>DNP34 ®️</b>
            </div>
            <nav>
                <a href="{{ url_for('home') }}">🏠 Главная</a>
                <a href="{{ url_for('search') }}">🔍 Поиск</a>
                <a href="{{ url_for('contacts') }}">☎️ Контакты</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="content">
            <div class="block">
                <h2>Поиск вакансий</h2>
                <div class="text">
                    <form method="POST" action="/search" class="text">
                        <label for="vacancy"><b>Введите название вакансии:</b></label><br><br>
                        <input placeholder="... строка ввода ключевого навыка" type="text" id="vacancy" name="vacancy" required><br><br>
                        <label for="my_city"><b>Выберите город:</b></label><br><br>
                        <select id="my_city" name="my_city">
                            {% for city in cities %}
                            <option value="{{ city }}">{{ city }}</option>
                            {% endfor %}
                        </select><br><br><br><br>
                        <input type="submit" value="🔍 Поиск">
                    </form>
                </div>
            </div>
            <div class="image">
                
            </div>
        </div>
    </main>
    <footer>
        ©️ Copyright (c) 2023
    </footer>
</body>
</html>